body{
    background-color: gray;
}
img{
    height: 40vh;
}
h1 {
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: oblique;
  }
  legend{
    color: red;
    font-weight: 700;
}
label{
    color: yellow;
    font-weight: 900;
}
button{
    color: darkblue;
}
.catalogue{
  position: fixed;
  align-items: baseline;
}
header{
  background-color: orangered;
}
#nav-bar {
    padding: 3px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: 568px) {
      margin-top: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
}
.nav-link {
    margin: 23px;
    padding: 11px;
    font-size: 19px;
    color: rgb(51,51,51);
    @media (max-width: 568px) {
      flex-direction: column;
    }
  }
button {
    margin: 11px;
    padding: 7px;
    background-color: rgb(243,112,32);
    border: 3px solid rgb(51,51,51);
    border-radius: 9px;
    @media (max-width: 568px) {
      flex-direction: column;
    }
}
@media (max-width: 500px) {
  header{
    background-color: green;
  }
  body{
    background-color: blueviolet;
  }
  #nav-bar {
    padding: 3px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media (max-width: 568px) {
      margin-top: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
}
button {
  margin: 11px;
  padding: 7px;
  background-color: rgb(32, 243, 116);
  border: 3px solid rgb(51,51,51);
  border-radius: 9px;
  @media (max-width: 568px) {
    flex-direction: column;
  }
}
}